html{
    background-color: #081b29;
}
.home-content h1{
    position: relative;
    font-size: 20px;
    font-weight: 0;
    color: bisque;
}
.home-content h3{
    position: relative;
    font-size: 40px;
    font-weight: 700;
    color: #00abf0,
}
.home-content h4{
    position: relative;
    font-size: 40px;
    font-weight: 700;
    color: #4400ff
}
img{
    top: 0;
    right: 30px;
    width: 500px;
    height: 50%;
    border: 5px solid #081b29;
    border-radius: 10px;
}



